body {
    background-color: rgb(25, 83, 160);
}

main {
    height: 95vh;
    gap: 10px;
    display: flex;
}

img {
    height: 120px;
    width: 120px;
}

.circle {
    border-radius: 50%;
}

.cookin {
    border: 5px solid green;
}

.sonico {
    border: 5px solid yellow;
    order: 1;
}

.scorsese {
    border: 5px solid red;
}