body {
    background-color: rgb(25, 83, 160);
}

main {
    display: flex;
    justify-content: space-around;
}

img {
    height: 200px;
    width: 200px;
}

.circle {
    border-radius: 50%;
}

.cookin {
    border: 5px solid green;
}

.sonico {
    border: 5px solid yellow;
}

.scorsese {
    border: 5px solid red;
}