body {
    background-color: rgb(25, 83, 160);
}

main {
    height: 95vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.circle {
    border-radius: 50%;
}

.cookin {
    border: 5px solid green;
}

.sonico {
    border: 5px solid yellow;
}

.scorsese {
    border: 5px solid red;
}