body {
    background-color: rgb(25, 83, 160);
}

img {
    height: 200px;
    width: 200px;
}

main {
    display: flex;
    justify-content: flex-end;
}

.cookin {
    border: 5px solid rgb(11, 173, 11);
    border-radius: 50%;    
}
