body {
    background-color: rgb(25, 83, 160);
}

main {
    height: 95vh;
    gap: 10px;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    justify-content: center;
    align-items: flex-end;
    align-content: space-between;
}

img {
    height: 110px;
    width: 110px;
}

.circle {
    border-radius: 50%;
}

.cookin {
    border: 5px solid green;
}

.sonico {
    border: 5px solid yellow;
}

.scorsese {
    border: 5px solid red;
}